@font-face {
  font-family: 'Bellota-Regular';
  src: local('Bellota-Regular'), url('../src/data/fonts/Bellota-Regular.ttf') format('truetype');
}

.navbar {
    background-color: rgb(204, 134, 171,8%);
    color: #000000;
    border-bottom: solid,1px;
}

.brand-logo {
  font-family: 'Bellota-Regular';
  font-size:40px;
  font-weight: 400;
  
  
}
 
.highcolor {
  color:rgb(212, 14, 74);
}



.navbar-nav, .navbar-light .nav-link {
  font-size: 15px;

}