:root {
  --header-bg-color: rgb(126, 190, 241);
  --inputcity-font-size: 16px;
  --label-color: #ffffff;
}

.frame-title {

  width: 80%;
  margin: auto;
}
.frame-title p {
  height: 15px;
  text-align: center;
  margin-top:5px;
  padding-top: 5px;
}

.frame-cards {
  background-color: white;
  display:flex; 
  margin: 10px auto;
}

.web-cameras-pending {
  color: gray;
  height: 15px;
  text-align: center;
  margin-top:25px;
  padding-top: 5px;
}